

body {
	background-color: rgb(255, 197, 147)
}

h1 {
	color: rgb(255, 108, 147);
	font-family:verdana;
	font-size: 350%;
}

h2 {
	color: rgb(49, 33, 236);
	font-family: courier
	font-size:100%;
}

p {
	color: rgb(49, 180, 171)

}

pre {
	border: 3px solid grey; {{!-- ketebalan garis--}}
	padding: 40px
	margin: 50px;
}

i {
	marks: 
}