
table {
width:100%;
}


table, th, td {
border: 1px solid blue;
border-collapse: collapse;
}

th, td {
padding: 6px;
}

table#wawa th{
background-color: orange;
color: red;
}

table#wawa tr{
background-color:rgb(0, 195, 253);
color: rgb(19, 128, 76)
}